.awarded {
  margin-bottom: 10px;
}

body {
  background-color: #f0e3ce;
}

.icon {
  width: 100px;
  float: left;
}

.icon > img {
  width: 90%;
  margin: auto;
}

.signo {
  text-align: right;
  font-weight: 800;
}

.title {
  float: left;
  width: calc(100% - 100px);
}

.title > h3 {
  margin-top: 0px;
}

.image {
  text-align: center;
}

.navbar {
  background-color: #965a28;
}

.navbar-nav li:not(:first-of-type) {
  border-left: 1px solid #f0e3ce;
}

.navbar-nav a,
.navbar-nav li a {
  font-weight: 800;
  color: white !important;
}

.navbar-nav a:hover,
.navbar-nav li a:hover {
  background-color: #73411c !important;
}

.dropdown-menu li a {
  font-weight: 800;
  color: black !important;
}

.dropdown-menu li a:hover {
  color: #73411c !important;
}

.navbar-brand {
  color: #f0e3ce !important;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}

.sponsor {
  width: 100%;
  padding: 15px 10px;
}

a {
  color: #69544a;
  text-decoration: none;
}

footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlc291cmNlcy9hc3NldHMvc2Fzcy9hcHAuc2NzcyIsInJlc291cmNlcy9hc3NldHMvc2Fzcy9fdmFyaWFibGVzLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLy8gVmFyaWFibGVzXG5AaW1wb3J0IFwidmFyaWFibGVzXCI7XG5cbi5hd2FyZGVke1xuICBtYXJnaW4tYm90dG9tOiAxMHB4O1xufVxuYm9keXtcbiAgYmFja2dyb3VuZC1jb2xvcjogJGJvZHktYmc7XG59XG4uaWNvbntcbiAgd2lkdGg6IDEwMHB4O1xuICBmbG9hdDogbGVmdDtcbn1cbi5pY29uID4gaW1ne1xuICB3aWR0aDogOTAlO1xuICBtYXJnaW46IGF1dG87XG59XG4uc2lnbm97XG4gIHRleHQtYWxpZ246IHJpZ2h0O1xuICBmb250LXdlaWdodDogODAwO1xufVxuLnRpdGxle1xuICBmbG9hdDogbGVmdDtcbiAgd2lkdGg6IGNhbGMoMTAwJSAtIDEwMHB4KTtcbn1cbi50aXRsZSA+IGgze1xuICBtYXJnaW4tdG9wOiAwcHg7XG59XG4uaW1hZ2V7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbn1cbi5uYXZiYXJ7XG4gIGJhY2tncm91bmQtY29sb3I6ICM5NjVhMjg7XG59XG5cbi5uYXZiYXItbmF2e1xuICBsaTpub3QoOmZpcnN0LW9mLXR5cGUpIHtcbiAgICBib3JkZXItbGVmdDogMXB4IHNvbGlkICNmMGUzY2U7XG4gIH0sXG4gIGxpe1xuICAgIGF7XG4gICAgICBmb250LXdlaWdodDogODAwO1xuICAgICAgY29sb3I6IHdoaXRlICFpbXBvcnRhbnQ7XG4gICAgICAmOmhvdmVye1xuICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjNzM0MTFjICFpbXBvcnRhbnQ7XG4gICAgICB9XG4gICAgfVxuICB9XG59XG4uZHJvcGRvd24tbWVudXtcbiAgbGl7XG4gICAgYXtcbiAgICAgIGZvbnQtd2VpZ2h0OiA4MDA7XG4gICAgICBjb2xvcjogYmxhY2sgIWltcG9ydGFudDtcbiAgICAgICY6aG92ZXJ7XG4gICAgICAgIGNvbG9yOiAjNzM0MTFjICFpbXBvcnRhbnQ7XG4gICAgICB9XG4gICAgfVxuICB9XG59XG5cbi5uYXZiYXItYnJhbmR7XG4gIGNvbG9yOiAjZjBlM2NlICFpbXBvcnRhbnQ7XG4gIGZsb2F0OiBsZWZ0O1xuICBmb250LXNpemU6IDIwcHg7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xuICBtYXJnaW46IDBweDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xufVxuXG4uc3BvbnNvcntcbiAgd2lkdGg6IDEwMCU7XG4gIHBhZGRpbmc6IDE1cHggMTBweDtcbn1cblxuYXtcbiAgY29sb3I6ICM2OTU0NGE7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbn1cblxuZm9vdGVye1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmO1xuICBib3JkZXItdG9wOiAxcHggc29saWQgI2RkZDtcbn0iLCJcbi8vIEJvZHlcbiRib2R5LWJnOiAjZjBlM2NlO1xuXG4vLyBCb3JkZXJzXG4kbGFyYXZlbC1ib3JkZXItY29sb3I6IGRhcmtlbigkYm9keS1iZywgMTAlKTtcbiRsaXN0LWdyb3VwLWJvcmRlcjogJGxhcmF2ZWwtYm9yZGVyLWNvbG9yO1xuJG5hdmJhci1kZWZhdWx0LWJvcmRlcjogJGxhcmF2ZWwtYm9yZGVyLWNvbG9yO1xuJHBhbmVsLWRlZmF1bHQtYm9yZGVyOiAkbGFyYXZlbC1ib3JkZXItY29sb3I7XG4kcGFuZWwtaW5uZXItYm9yZGVyOiAkbGFyYXZlbC1ib3JkZXItY29sb3I7XG5cbi8vIEJyYW5kc1xuJGJyYW5kLXByaW1hcnk6ICMzMDk3RDE7XG4kYnJhbmQtaW5mbzogIzhlYjRjYjtcbiRicmFuZC1zdWNjZXNzOiAjMmFiMjdiO1xuJGJyYW5kLXdhcm5pbmc6ICNjYmI5NTY7XG4kYnJhbmQtZGFuZ2VyOiAjYmY1MzI5O1xuXG4vLyBUeXBvZ3JhcGh5XG4kaWNvbi1mb250LXBhdGg6IFwifmJvb3RzdHJhcC1zYXNzL2Fzc2V0cy9mb250cy9ib290c3RyYXAvXCI7XG4kZm9udC1mYW1pbHktc2Fucy1zZXJpZjogXCJSYWxld2F5XCIsIHNhbnMtc2VyaWY7XG4kZm9udC1zaXplLWJhc2U6IDE0cHg7XG4kbGluZS1oZWlnaHQtYmFzZTogMS42O1xuJHRleHQtY29sb3I6ICM2MzZiNmY7XG5cbi8vIE5hdmJhclxuJG5hdmJhci1kZWZhdWx0LWJnOiAjZmZmO1xuXG4vLyBCdXR0b25zXG4kYnRuLWRlZmF1bHQtY29sb3I6ICR0ZXh0LWNvbG9yO1xuXG4vLyBJbnB1dHNcbiRpbnB1dC1ib3JkZXI6IGxpZ2h0ZW4oJHRleHQtY29sb3IsIDQwJSk7XG4kaW5wdXQtYm9yZGVyLWZvY3VzOiBsaWdodGVuKCRicmFuZC1wcmltYXJ5LCAyNSUpO1xuJGlucHV0LWNvbG9yLXBsYWNlaG9sZGVyOiBsaWdodGVuKCR0ZXh0LWNvbG9yLCAzMCUpO1xuXG4vLyBQYW5lbHNcbiRwYW5lbC1kZWZhdWx0LWhlYWRpbmctYmc6ICNmZmY7XG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBR0EsQUFBQSxRQUFRLENBQUE7RUFDTixhQUFhLEVBQUUsSUFBSTtDQUNwQjs7QUFDRCxBQUFBLElBQUksQ0FBQTtFQUNGLGdCQUFnQixFQ0xSLE9BQU87Q0RNaEI7O0FBQ0QsQUFBQSxLQUFLLENBQUE7RUFDSCxLQUFLLEVBQUUsS0FBSztFQUNaLEtBQUssRUFBRSxJQUFJO0NBQ1o7O0FBQ0QsQUFBUSxLQUFILEdBQUcsR0FBRyxDQUFBO0VBQ1QsS0FBSyxFQUFFLEdBQUc7RUFDVixNQUFNLEVBQUUsSUFBSTtDQUNiOztBQUNELEFBQUEsTUFBTSxDQUFBO0VBQ0osVUFBVSxFQUFFLEtBQUs7RUFDakIsV0FBVyxFQUFFLEdBQUc7Q0FDakI7O0FBQ0QsQUFBQSxNQUFNLENBQUE7RUFDSixLQUFLLEVBQUUsSUFBSTtFQUNYLEtBQUssRUFBRSxrQkFBa0I7Q0FDMUI7O0FBQ0QsQUFBUyxNQUFILEdBQUcsRUFBRSxDQUFBO0VBQ1QsVUFBVSxFQUFFLEdBQUc7Q0FDaEI7O0FBQ0QsQUFBQSxNQUFNLENBQUE7RUFDSixVQUFVLEVBQUUsTUFBTTtDQUNuQjs7QUFDRCxBQUFBLE9BQU8sQ0FBQTtFQUNMLGdCQUFnQixFQUFFLE9BQU87Q0FDMUI7O0FBRUQsQUFDRSxXQURTLENBQ1QsRUFBRSxBQUFBLElBQUssQ0FBQSxBQUFBLGNBQWMsRUFBRTtFQUNyQixXQUFXLEVBQUUsaUJBQWlCO0NBQy9COztBQUhILEFBS0ksV0FMTyxDQUtQLENBQUM7QUFMTCxBQUtJLFdBTE8sQ0FJVCxFQUFFLENBQ0EsQ0FBQyxDQUFBO0VBQ0MsV0FBVyxFQUFFLEdBQUc7RUFDaEIsS0FBSyxFQUFFLGdCQUFnQjtDQUl4Qjs7QUFYTCxBQUtJLFdBTE8sQ0FLUCxDQUFDLEFBR0EsTUFBUTtBQVJiLEFBS0ksV0FMTyxDQUlULEVBQUUsQ0FDQSxDQUFDLEFBR0EsTUFBUSxDQUFBO0VBQ0wsZ0JBQWdCLEVBQUUsa0JBQWtCO0NBQ3JDOztBQUlQLEFBRUksY0FGVSxDQUNaLEVBQUUsQ0FDQSxDQUFDLENBQUE7RUFDQyxXQUFXLEVBQUUsR0FBRztFQUNoQixLQUFLLEVBQUUsZ0JBQWdCO0NBSXhCOztBQVJMLEFBRUksY0FGVSxDQUNaLEVBQUUsQ0FDQSxDQUFDLEFBR0MsTUFBTyxDQUFBO0VBQ0wsS0FBSyxFQUFFLGtCQUFrQjtDQUMxQjs7QUFLUCxBQUFBLGFBQWEsQ0FBQTtFQUNYLEtBQUssRUFBRSxrQkFBa0I7RUFDekIsS0FBSyxFQUFFLElBQUk7RUFDWCxTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLE1BQU0sRUFBRSxHQUFHO0VBQ1gsVUFBVSxFQUFFLE1BQU07RUFDbEIsY0FBYyxFQUFFLE1BQU07Q0FDdkI7O0FBRUQsQUFBQSxRQUFRLENBQUE7RUFDTixLQUFLLEVBQUUsSUFBSTtFQUNYLE9BQU8sRUFBRSxTQUFTO0NBQ25COztBQUVELEFBQUEsQ0FBQyxDQUFBO0VBQ0MsS0FBSyxFQUFFLE9BQU87RUFDZCxlQUFlLEVBQUUsSUFBSTtDQUN0Qjs7QUFFRCxBQUFBLE1BQU0sQ0FBQTtFQUNKLGdCQUFnQixFQUFFLElBQUk7RUFDdEIsVUFBVSxFQUFFLGNBQWM7Q0FDM0IifQ== */