// Variables
@import "variables";

.awarded{
  margin-bottom: 10px;
}
body{
  background-color: $body-bg;
}
.icon{
  width: 100px;
  float: left;
}
.icon > img{
  width: 90%;
  margin: auto;
}
.signo{
  text-align: right;
  font-weight: 800;
}
.title{
  float: left;
  width: calc(100% - 100px);
}
.title > h3{
  margin-top: 0px;
}
.image{
  text-align: center;
}
.navbar{
  background-color: #965a28;
}

.navbar-nav{
  li:not(:first-of-type) {
    border-left: 1px solid #f0e3ce;
  },
  li{
    a{
      font-weight: 800;
      color: white !important;
      &:hover{
        background-color: #73411c !important;
      }
    }
  }
}
.dropdown-menu{
  li{
    a{
      font-weight: 800;
      color: black !important;
      &:hover{
        color: #73411c !important;
      }
    }
  }
}

.navbar-brand{
  color: #f0e3ce !important;
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}

.sponsor{
  width: 100%;
  padding: 15px 10px;
}

a{
  color: #69544a;
  text-decoration: none;
}

footer{
  background-color: #fff;
  border-top: 1px solid #ddd;
}